@model AccountListViewModel
@{
    ViewData["Title"] = "UserAccount";
}
<div>

    @if (ViewBag.LoadError==false)
    {
        <h1>User Name: @Model.User.TagName</h1>
        <h1>Club Name: @Model.Team.ClubName</h1>
        <h1>Stadium Name: @Model.Stadium.StadiumName</h1>
    }
    else
    {
        <h1>
            @TempData["UserDetailErrorMesage"]
        </h1>
    }

</div>
